h1 {
    color: brown;
    font-size: 68px;
}

.minha-classe {
    display: inline-block;
    padding: 30px;
    border: solid 3px black;
    margin: 30px;
}

.lista-nao-ordenada {
    list-style: url("img/arrow.svg");
}

.lista-ordenada {
    list-style: lower-greek;
}

.tabela {
    width: 400px;
}

.tabela, tr, th, td {
    border: solid 1px black;
    border-collapse: collapse;
}

.m-bottom {
    margin-bottom: 500px;
}